.farm-dialog-header__close {
    position: absolute;
    right: 1rem;
    margin-top: 4px;
    font-size: 1rem;

    &:hover {
        opacity: 0.8;
    }
}

header {
    font-size: 12px;
    padding: 16px;
    background-color: #fff;
    font-weight: 700;
    color: var(--v-secondary-base);
    border-bottom: 1px solid #d6d6d6;
}