@import '../../configurations/mixins';

.farm-dialog-header__close {
	position: absolute;
	margin-top: 0;
	font-size: 16px;

	transition: all 0.4s;

	&:hover {
		opacity: 0.8;
	}
}

header {
	font-size: 12px;
	padding: 6px 16px;
	background-color: #fff;
	font-weight: 700;
	color: var(--farm-primary-base);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 48px;

	> .farm-typography.farm-caption {
		align-items: center;
		width: 100%;
		margin-bottom: 0;
		color: var(--farm-bw-black-80);
		@include ellipsis;
	}
}
