$step-height: 64px;

.stepper__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	div.stepper__header-step {
		width: 80px;
		height: $step-height;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid gray;
		&.stepper__header-step--previous {
			border-color: green;
		}
		&.stepper__header-step--current {
			border-color: yellow;
		}
		&.stepper__header-step--error {
			border-color: red;
			color: red;
		}

		.mdi {
			font-size: 20px;
		}
	}

	.stepper__divider--previous {
		border-color: green;
	}

	hr {
		display: block;
		flex: 1 1 0px;
		max-width: 100%;
		height: 0;
		max-height: 0;
		margin-top: $step-height/2;
		border: none;
		border-bottom: 1px solid gray;
	}

	&.stepper__header--vertical {
		flex-direction: column;

		hr {
			height: 16px;
		}

		.stepper__divider--vertical {
			height: 32px;
			border-left: 1px solid gray;
			margin-left: 40px;
		}
	}
}