section {
	display: flex;
	flex-direction: row;

	.farm-btn {
		margin-left: 16px;
	}

	fieldset {
		border: 0;
	}

	.farm-tooltip {
		margin-left: 4px;
	}

}

@media screen and (max-width: 600px) {
	section {
		flex-direction: column;
		margin-bottom: 1rem;

		.farm-btn {
			margin-left: 0;
			margin-top: 0 !important;
		}
	}
}