.farm-tooltip {
	margin-left: 4px;
}

.farm-btn {
	margin-left: 12px;
}

@media screen and (max-width: 600px) {
	.farm-btn {
		width: calc(100% - 24px);
		margin-left: 12px;
		margin-top: 0 !important;
	}

}