@import '../../../configurations/variables';

.farm-box {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: .2s cubic-bezier(.4, 0, .2, 1);

    >div {
        flex: 1 1 auto;
        max-width: 100%;
        position: relative;
    }

}