@import '../../../configurations/variables';

.farm-box {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: .2s cubic-bezier(.4, 0, .2, 1);

    >div {
        display: flex;
        flex: 1 1 auto;
        max-width: 100%;
        position: relative;
    }

    @each $k in $justifications {
        &#{'--justify-' + $k} {
            >div {
                justify-content: $k;
            }
        }
    }

    @each $k in $directions {
        &#{'--direction-' + $k} {
            >div {
                flex-direction: $k;
            }
        }
    }

    @each $k in map-keys($gutters) {
        &#{'[gutter=' + $k + ']'} {
            padding: map-get($gutters, $k);
        }
    }
}