section {
    //outline: 1px dashed grey;
    //outline-offset: -0.5rem;
    border: 2px dashed var(--v-gray-lighten1);
    border-radius: 2rem;
    background-color: var(--v-gray-lighten4);
    //color: var(--v-primary-base);
    padding: 1rem;
    position: relative;
    cursor: pointer;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    &.highlight {
        background: var(--v-secondary-lighten5);
        opacity: 0.5;
    }

    .selectfile-container {
        text-align: center;
        .v-icon {
            font-size: 2.25rem;
            margin-bottom: 1rem;
        }
        p {
            font-weight: 600;
            color: var(--v-gray-base);
        }
    }

    .reset-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .v-btn {
            margin-top: 1rem;
        }
    }
}