@import '../DatePicker/DatePicker.scss';

.datepicker :deep(.v-date-picker-table) {
	table tbody td .v-btn.v-btn--active {
		&:not(.v-date-picker--first-in-range, .v-date-picker--last-in-range) {
			background: var(--farm-primary-lighten);
			color: var(--farm-primary-base);
			border-radius: 0;
			width: 37px;
		}

		&.v-date-picker--first-in-range,
		&.v-date-picker--last-in-range {
			width: 37px;
		}
	}
}
