// Import all custom icon styles
@import './currency-exchange/currency-exchange.scss';
@import './money-off/money-off.scss';
@import './receipt-outline/receipt-outline.scss';
@import './price-check/price-check.scss';
@import './bar-chart/bar-chart.scss';
@import './wallet/wallet.scss';
@import './clipboard/clipboard.scss';
@import './assignment-check/assignment-check.scss';
@import './pencil-line/pencil-line.scss';