@import '../../configurations/theme-colors';

.farm-listitem {
	list-style-type: none;
	transition: background-color 300ms linear;
	padding: 8px;
	height: 36px;
	display: flex;
	align-items: center;

	&--clickable {
		cursor: pointer;
	}

	&--disabled {
		opacity: 0.5;

		&:hover,
		&:focus {
			background-color: transparent !important;

			.farm-typography {
				color: var(--farm-neutral-darken) !important;
			}
		}
	}

	> a {
		text-decoration: none;
	}

	.farm-icon,
	.farm-typography {
		color: var(--farm-neutral-darken);
	}

	&:hover,
	&:focus {
		border-radius: 5px;

		@each $color in $theme-colors-list {
			&#{'.farm-listitem--' + $color + '-base'} {
				background-color: rgba(themeColor($color), 0.27);
				.farm-icon,
				.farm-typography {
					color: rgba(themeColor($color), 1);
				}
			}

			&#{'.farm-listitem--' + $color + '-lighten'} {
				background-color: rgba(themeColor($color, 'lighten'), 0.27);
				.farm-icon,
				.farm-typography {
					color: rgba(themeColor($color), 1);
				}
			}

			&#{'.farm-listitem--' + $color + '-darken'} {
				background-color: rgba(themeColor($color, 'darken'), 0.27);
				.farm-icon,
				.farm-typography {
					color: rgba(themeColor($color), 1);
				}
			}
		}
	}

	&:active {
		@each $color in $theme-colors-list {
			&#{'.farm-listitem--' + $color + '-base'} {
				background-color: rgba(themeColor($color), 0.8);
			}

			&#{'.farm-listitem--' + $color + '-lighten'} {
				background-color: rgba(themeColor($color, 'lighten'), 0.8);
			}

			&#{'.farm-listitem--' + $color + '-darken'} {
				background-color: rgba(themeColor($color, 'darken'), 0.8);
			}
		}
	}
}
