@import '../../configurations/theme-colors';

.farm-listitem {
    list-style-type: none;
    transition: background-color 300ms linear;
    &--clickable {
        cursor: pointer;
    }

    &:hover {
        
        @each $color in $theme-colors-list {

            &#{'.farm-listitem--' + $color + '-base'} {
                background-color: themeColor($color);
            }

            &#{'.farm-listitem--' + $color + '-lighten'} {
                background-color: themeColor($color, 'lighten');
            }

            &#{'.farm-listitem--' + $color + '-darken'} {
                background-color: themeColor($color, 'darken');
            }
        }
    }

}