.header-text {
	position: relative;
	color: var(--v-primary-base);
	font-size: 12px;

	.farm-icon {
		position: absolute;
		right: -20px;
		top: -1px;
	}

	.farm-icon {
		&.farm-icon--asc {
			transform: rotateX(180deg);
		}
	}
}

th.sortable {
	cursor: pointer;

	&:not(.active) {
		&:hover {
			.farm-icon {
				opacity: 0.5 !important;
			}
		}
	}
}

th span.span-checkbox {
	display: flex;
	justify-content: flex-start;
	padding-left: 4px;
}