.header-text {
	position: relative;
	i {
		position: absolute;
		right: -20px;
		top: -1px;
	}

	.v-icon {
		&.v-icon--asc {
			transform: rotateX(180deg);
		}
	}
}

th.sortable {
	cursor: pointer;
	&:not(.active) {
		&:hover {
			.v-icon {
				opacity: 0.5 !important;
			}
		}
	}
}