@import '../../configurations/variables';
@import '../../configurations/mixins';
@import '../../configurations/theme-colors';

.farm-typography {
	font-size: 16px;

	&[bold] {
		font-weight: bold;
	}

	&[italic] {
		font-style: italic;
	}

	&[underline] {
		text-decoration: underline;
	}

	&[line-through] {
		text-decoration: line-through;
	}

	&:is(p) {
		margin-bottom: auto;
	}

	color: var(--farm-text-primary);

	@each $k in $theme-colors-list {
		&#{'[color=' + $k + ']'} {
			color: var(--farm-#{$k}-base);
		}
	}

	@each $s,
	$val in $fontSizes {
		&--#{$s} {
			font-size: $val;
		}
	}

	@each $w in $fontWeights {
		&--weight-#{$w} {
			font-weight: $w;
		}
	}
}

@include upToSm {

	@each $s,
	$val in $fontSizes {
		.farm-typography--#{$s} {
			font-size: calc(#{$val} - 2px);
		}
	}
}