@import '../../configurations/variables';
@import '../../configurations/mixins';

.farm-typography {
    font-size: 1rem;

    &[bold] {
        font-weight: bold;
    }

    &[italic] {
        font-style: italic;
    }
 

    @each $k in $colors {
        &#{'[color=' + $k + ']'} {
            color: var(--v-#{$k}-base);
        }
    }

    @each $s, $val in $fontSizes {
        &--#{$s} {
            font-size: $val;
        }
    }
}

@include upToSm {
    @each $s, $val in $fontSizes {
        .farm-typography--#{$s} {
            font-size: calc(#{$val} - 2px);
        }
    }
}