@mixin loggerMessage($color) {
	> .farm-icon {
		border-color: $color;
		background-color: $color;
	}

	.farm-bodytext--2 {
		color: $color;
	}
}

.logger__item {
	display: flex;
	flex-direction: row;
	height: 74px;
	align-items: center;

	> div {
		display: flex;
		flex-direction: column;
		padding-left: 8px;
	}

	&.logger__item--error {
		@include loggerMessage(var(--farm-error-base));
	}

	&.logger__item--success {
		@include loggerMessage(var(--farm-primary-base));
	}

	&.logger__item--info {
		@include loggerMessage(var(--farm-info-base));
	}
}

.logger__item > .farm-icon {
	border: 1px solid var(--farm-stroke-base);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: block;

	display: flex;
	align-items: center;
	justify-content: center;

	border-color: var(--farm-neutral-base);
	background-color: var(--farm-neutral-base);

	&:before {
		color: white;
	}
}

.logger__item > .farm-btn.logger__item--button {
	margin-left: 8px;
}

.logger__item > div .logger__item--spacing-bottom {
	margin-bottom: 8px;
}
