@import '../../configurations/mixins';

.farm-card {
	width: 100%;
	background: #ffffff;
	border: 1px solid var(--farm-stroke-base);
	border-radius: 5px;
	overflow: hidden;

	&[shadow] {
		@include addShadow;
		border: none;
	}

	&p {
		margin: 0;
	}
}