@import '../../configurations/variables';
@import '../../configurations/theme-colors';

.farm-icon-box {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	@each $color in $theme-colors-list {
		&#{'--' + $color} {
			background: var(--farm-#{$color}-lighten);
		}
	}
}

.farm-icon-box--inverted.farm-icon-box {
	@each $color in $theme-colors-list {
		&#{'--' + $color} {
			background: var(--farm-#{$color}-base);
		}
	}

	.farm-icon.farm-icon--white {
		color: white;
	}

}