@import '../../configurations/variables';

.farm-icon-box {
	width: 40px;
	height: 40px;
	padding: 6px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	@each $color in $colors {
        &#{'--' + $color} {
            background: var(--v-#{$color}-lighten5);
        }
    }
}
