.collapsible {
	width: 100%;

	&__header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&--custom {
			position: relative;
			cursor: pointer;
		}
	}

	&__content-title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__content-right {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--custom {
			position: absolute;
			right: 0;
			top: 3px;
		}
	}

	&__icon {
		&--main {
			margin-right: 0.5rem;
		}

		&--arrow {
			margin-left: 0.5rem;
		}
	}

	&__body {
		width: 100%;
		margin-top: 1.5rem;
	}
}

.full-width {
	width: 100%;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease-in-out;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}
