$secondary: (
    base: #00B493,
    lighten: #ADFFF0,
    darken: #00F5C8,
);

$info: (
    base: #5089DE,
    lighten: #95e8ff,
    darken: #004d9f
);

$theme-colors: (
    "secondary": $secondary,
    "info": $info,
);

@function farmColor($name, $variation: 'base') {
    $theme-color: map-get($theme-colors, $name); 
    @return map-get($theme-color, $variation)
}
