$colors: primary, secondary, error, accent, info, success, warning, gray, yellow, white;
$sizes: (
    "xs": 12px,
    "sm": 14px,
    "md": 20px,
    "lg": 36px,
    "xl": 40px
);
$gutters: (
    "none": 0,
    "xs": 4px,
    "sm": 8px,
    "vuetify": 12px,
    "md": 16px,
    "lg": 24px,
    "xl": 32px,
    "default": 24px,
);

$fontSizes: (
    "xs": 8px,
    "sm": 12px,
    "md": 14px,
    "default": 16px,
    "lg": 20px,
    "xl": 24px
);

$fontWeights: 100, 200, 300, 400, 500, 600, 700;

$bwVariations: 80, 50, 40, 30, 10;

$aligns: start,center,end,auto,baseline,stretch;
$align-contents: start,center,end,space-between,space-around,stretch;
$justifications: start,center,end,space-between,space-around;
$directions: row,row-reverse,column,column-reverse;