@import '../../../configurations/functions';
@import '../../../configurations/variables';


.farm-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-inline: -12px;

    @each $k in $aligns {
        &#{'--align-' + $k} {
            align-items: $k  !important;
        }
    }

    @each $k in $align-contents {
        &#{'--align-content-' + $k} {
            align-content: $k  !important;
        }
    }

    @each $k in $justifications {
        &#{'--justify-' + $k} {
            justify-content: $k  !important;
        }
    }

    &--no-gutters {
        margin: 0;
    }
}