.datepicker :deep(.v-btn--active) {
	background: var(--farm-primary-base);
}

.datepicker :deep(.v-picker__body) {
	width: 304px !important;
}

.btn-cancel {
	margin: 0 8px;
}

.farm-contextmenu {
	width: 100%;
}

.v-picker ::v-deep   {
	@import './vDatePicker.scss';
}