@import '../../configurations/theme-colors';
@import '../../configurations/variables';
@import '../../configurations/mixins';

.farm-checkbox__container {
    display: flex;
    flex-direction: row;
    position: relative;

    .farm-label {
        margin-left: 8px;
    }

    @each $color in $theme-colors-list {
        &#{'[color=' + $color + ']'} {

            .farm-checkbox--checked,
            .farm-checkbox--indeterminate {
                background-color: themeColor($color);
                border-color: themeColor($color);

                &.farm-checkbox--lighten {
                    background-color: themeColor($color, 'lighten');
                    border-color: themeColor($color, 'lighten');

                    .farm-icon {
                        color: themeColor($color, 'darken');
                    }
                }

                &.farm-checkbox--darken {
                    background-color: themeColor($color, 'darken');
                    border-color: themeColor($color, 'darken');
                }
            }
        }
    }

    @include activateRipple;
}

@include rippleStyles;

.farm-checkbox {
    display: flex;
    justify-content: center;
    border: 2px solid #5c5c5c;
    border-radius: 2px;
    cursor: pointer;
    line-height: 0;
    transition: all 0.4s;
    z-index: 2;

    &--disabled {
        border-color: #dadada;
        cursor: default;
        opacity: 0.6;

        &.farm-checkbox--checked {
            background-color: #dadada;
        }
    }

    .farm-icon {
        color: white;
    }
}

@each $size,
$value in $sizes {
    #{'.farm-checkbox[size=' + $size +']'} {
        width: $value;
        height: $value;
    }

    #{'.farm-ripple[size=' + $size +']'} {
        height: $value*1.75;
        width: $value*1.75;
        left: -$value*0.4;
        top: -$value*0.4 ;
    }
}