@import '../../configurations/theme-colors';

.farm-checkbox__container {
    display: flex;
    flex-direction: row;

    .farm-label {
        margin-left: 8px;
    }

    @each $color in $theme-colors-list {
        &#{'[color=' + $color + ']'} {
            .farm-checkbox--checked {
                background-color: themeColor($color);
                border-color: themeColor($color);

                &.farm-checkbox--lighten {
                    background-color: themeColor($color, 'lighten');
                    border-color: themeColor($color, 'lighten');

                    .farm-icon {
                        color: themeColor($color, 'darken');
                    }
                }

                &.farm-checkbox--darken {
                    background-color: themeColor($color, 'darken');
                    border-color: themeColor($color, 'darken');
                }
            }
        }
    }
}

.farm-checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #5c5c5c;
    border-radius: 2px;
    cursor: pointer;
    line-height: 0;
    transition: all 0.4s;

    &--disabled {
        border-color: #dadada;
        cursor: default;
        opacity: 0.6;

        &.farm-checkbox--checked {
            background-color: #dadada;
        }
    }

    .farm-icon {
        color: white;
    }

}