.farm-btn.farm-btn--import {
	background: var(--v-extra-lighten2);
	color: var(--v-gray-lighten5);
	.farm-btn__content i.mdi {
		margin-right: 1rem;
		color: var(--v-gray-lighten5);
	}
}

.v-list-item {
	border-bottom: 1px solid var(--v-gray-lighten2);
	&:last-child {
		border-bottom: none;
	}
}
.v-list-item--link {
	font-size: 0.875rem;
}
