.palette-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >div {
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 32px);
        margin: auto 16px 32px;
        font-size: 12px;

        >span {
            padding: 8px 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }
    }
}