.farm-textfield {
    padding-bottom: 4px;

    &.v-input {

        &.v-text-field {

            :deep(.v-input__slot) {
                min-height: 36px !important;
                height: 36px;
                background: white;
                padding: 0 8px;

                fieldset {
                    border-color: var(--farm-gray-lighten);
                }

                input,
                .v-select__selection {
                    font-size: 12px;
                }
            }

            &.v-input--is-label-active.v-input--is-focused:not(.error--text) {
                :deep(.v-input__slot fieldset) {
                    border-color: var(--v-secondary-base);
                }

                :deep(input) {
                    color: var(--v-secondary-base);
                }
            }

            &.error--text {
                :deep(.v-input__slot) fieldset {
                    border-color: var(--farm-error-primary);
                    border-width: 1px;
                }

            }
        }
    }
}