.chips-container {
   
    > .farm-chip {
        margin-bottom: 16px;
    }

    &-full-example {
        border:1px solid black;
        > .farm-chip {
            margin-bottom: 0;
        }
    }
}
