@import '../../../configurations/functions';
@import '../../../configurations/_mixins';

.farm-container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    >div {
        background-color: white;
        border-radius: 8px;
        max-width: calc(100% - 24px);
        margin: gutter('lg') auto;
        padding: gutter('lg');
        @include addShadow;

        // deprecated
        .container-main__footer-buttons-right {
            margin: 0;
            margin-top: 1rem;
            padding: 0;
            justify-content: flex-end;

            .v-btn {
                margin-left: 1rem;
            }
        }

        min-height: 128px;
    }
}