@import '../../configurations/theme-colors';
@import '../../configurations/variables';

.farm-tooltip {
	display: inline-block;
	position: relative;
}

.farm-tooltip__popup {
	background-color: themeColor('primary');

	@each $color in $colors {
		@each $color in $theme-colors-list {

			&.farm-tooltip--#{$color} {

				background-color: themeColor($color);

			}
		}
	}
}

.farm-tooltip__popup {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s linear, opacity 0.3s linear;
	color: white;
	font-size: 14px;
	border-radius: 4px;
	padding: 8px 12px;
	position: absolute;
	width: 160px;
	background-color: themeColor('primary');
	contain: content;

	display: block;
	font-family: 'Montserrat', sans-serif !important;

	&--visible {
		opacity: 1;
		visibility: visible;
	}
}