@import '../../configurations/variables';

$radius: 5px;

.farm-progressbar {
    width: 100%;
    height: 5px;
    border-radius: $radius;

    > div {
        border-radius: $radius;
        height: 100%;
    }

    @each $color in $colors {
        &#{'.farm-progressbar--' + $color} {
            background-color: var(--v-#{$color}-base);
        }

        &#{'.farm-progressbar--value-' + $color}>div {
            background-color: var(--v-#{$color}-base);
        }
    }

}