.v-dialog.vuedl-layout {
	.v-toolbar {
		color: var(--v-secondary-base);
		padding-right: calc(1rem);
		padding: 0;
		background-color: white;
		font-weight: 700;
		.v-toolbar__content {
			background-color: white;
			.v-toolbar__title {
				font-size: 0.75rem;
			}
		}
		&.error {
			color: var(--v-error-base);
		}
	}
	.v-dialog-wrapper {
		position: relative;
	}
	.vuedl-layout__closeBtn {
		display: none;
	}
	.v-card__actions {
		border-top: 1px solid var(--v-gray-lighten2);
		padding: 1rem;
	}
	.v-card__text {
		border-top: 1px solid var(--v-gray-lighten2);
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
		font-size: 0.75rem !important;
		color: var(--v-primary-base) !important;
		font-family: 'Manrope', sans-serif !important;
	}

	.v-btn {
		&.secondary-outlined--text {
			background-color: white;
			border: 1px solid var(--v-secondary-base);
			color: var(--v-secondary-base);
		}
	}

	.v-btn.primary--text,
	.v-btn.danger--text {
		background-color: white;
		border: 1px solid var(--v-primary-base);
	}

	.v-btn.error--text {
		background-color: var(--v-error-base);
		color: white !important;
	}

	.v-btn.secondary--text {
		background-color: var(--v-secondary-base);
	}
	.v-btn.info--text {
		background-color: var(--v-info-base);
	}
	.v-btn.info--text {
		background-color: var(--v-info-base);
	}
	.v-btn.yellow--text {
		background-color: var(--v-yellow-base);
	}
	.v-btn.extra--text {
		background-color: var(--v-extra-base);
	}
	.v-btn.gray--text {
		background-color: var(--v-gray-base);
	}
	.v-btn.info--text,
	.v-btn.yellow--text,
	.v-btn.extra--text,
	.v-btn.gray--text,
	.v-btn.secondary--text,
	.v-btn.yellow--text {
		margin-left: 0.75rem !important;
	}
	.v-btn.yellow--text {
		color: black !important;
	}
	.v-btn.info--text,
	.v-btn.yellow--text,
	.v-btn.extra--text,
	.v-btn.gray--text,
	.v-btn.secondary--text {
		color: white !important;
	}
}
