.theme--light {
    .fieldset-default,
    .v-col-fieldset-default {
        border: 0;
        label {
            font-weight: 500;
            display: block;
            margin-bottom: 0.5rem;
        }

    }

    &.v-input {
        &.v-input--dense.v-text-field.v-text-field--outlined {
            .v-input__slot {
                min-height: 36px !important;
                height: 36px;
                fieldset {
                    border-color: var(--v-gray-lighten2);
                }
                input,
                .v-select__selection {
                    font-size: 0.75rem;
                }
            }
            &.v-input--is-label-active.v-input--is-focused {
                .v-input__slot fieldset {
                    border-color: var(--v-secondary-base);
                }
                input {
                    color: var(--v-secondary-base);
                }
            }
            &.error--text {
                .v-input__slot fieldset {
                    border-color: var(--v-error-base);
                    border-width: 1px;
                }
                &:after {
                    content: "\F0028";
                    position: absolute;
                    font: normal normal normal 24px/1 "Material Design Icons";
                    right: 6px;
                    top: 6px;
                }
                
            }
        }
    }
    .v-textarea.v-text-field--enclosed .v-text-field__slot {
        textarea {
            font-size: 0.75rem;
            line-height: 1.25rem;
        }
    }
    .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
        > .v-input__control
        > .v-input__slot
        fieldset {
        border-color: var(--v-gray-lighten2);
    }
    .v-text-field--outlined.v-input--is-focused > .v-input__control > .v-input__slot fieldset {
        border-color: var(--v-gray-lighten2);
        border-width: 1px;
    }
    .v-text-field .v-text-field__details {
        padding-left: 0 !important;
    }
}
.v-form {
    .v-col-fieldset-default {
        margin-bottom: 0;
        padding-bottom: 0;

        span.required {
            color: var(--v-error-base);
        }
    }
}
.v-form.v-form-importfile {
    > .row:first-child {
        border-bottom: 1px solid var(--v-gray-lighten2);
        padding: 1rem;
        h3 {
            font-weight: 700;
            color: var(--v-secondary-base);
        }
    }

    > .row:nth-child(2) {
        padding: 1rem;
        legend {
            font-weight: 700;
            width: 100%;
        }
    }
}
.v-form.form-custom-disabled {
    .theme--light {
        &.v-text-field.v-input--is-disabled .v-input__slot {
            padding-left: 0;
            input,
            label {
                color: var(--v-primary-base);

                font-size: 1rem !important;
            }
        }
        &.v-text-field.v-input--is-disabled .v-input__slot fieldset {
            border: none;
        }
    }
}
.v-text-field.v-text-field--solo .v-input__control {
    min-height: 30px;
}
