.status-chip.v-chip.v-size--small {
    font-size: 0.625;
    border-radius: 0.5rem;
}

$statusList: 'primary', 'secondary', 'accent', 'error', 'info', 'success', 'warning';

.status-chip.v-chip {
    @each $s in $statusList {
        &.status-chip-#{$s} {
            background-color: var(--v-#{$s}-base) !important;
            color: white;
        }
    }

    &.status-chip-secondary__variant {
        background-color: var(--v-secondary-lighten4) !important;
        color: var(--v-secondary-base);
    }

    &.status-chip-secondary__variant {
        background-color: var(--v-secondary-lighten4) !important;
        color: var(--v-secondary-base);
    }
    &.status-chip-yellow {
        background-color: var(--v-yellow-base) !important;
        color: var(--v-gray-lighten5);
    }

}
