.container-main.container-main-sm {
	max-width: 960px;
}
.container-main > .col {
	background-color: white;
	border-radius: 0.5rem;
	max-width: calc(100% - 2rem);
	margin: 1rem auto;
	&.col__no-bg {
		background-color: transparent;
	}

	.container-main__footer-buttons-right {
		margin: 0;
		margin-top: 1rem;
		padding: 0;
		justify-content: flex-end;
		.v-btn {
			margin-left: 1rem;
		}
	}
	min-height: 8rem;
}

.v-list__clickable {
	.v-list-item__title {
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
}

tr.v-data-table__empty-wrapper {
	td {
		background-color: white !important;
		cursor: default !important;
		opacity: 1 !important;
		padding: 0 !important;
	}
}


.mf-Containers.mf-Containers-authenticated {
	> .mf-Container > div.v-application {
		padding-bottom: 2.625rem;
	}
}

#blip-chat-container {
	bottom: 1rem;
	#blip-chat-open-iframe {
		bottom: 0.5rem;
	}
}

body.body--has-footer {
	#blip-chat-container #blip-chat-open-iframe {
		bottom: 3rem;
	}
}

//temporary solution for v-data-table checkboxes
.v-data-table__checkbox.v-simple-checkbox {
	.v-icon.v-icon {
		font-size: 22px;
		color: var(--farm-neutral-darken);

		&.mdi-checkbox-marked,
		&.mdi-minus-box {
			color: var(--farm-primary-base);
		}
	}

	.v-input--selection-controls__ripple {
		display: none;
	}
}

@media (max-width: 600px) {
	.container-main > .col {
		max-width: calc(100% - 0.5rem);

		.container-main__footer-buttons-right {
			justify-content: unset;
			.v-btn {
				margin-left: 0;
				margin-top: 1rem;
				width: 100%;
			}
		}
	}
}
