.farm-textfield {
  &--input {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid;
    border-color: var(--farm-neutral-base);
    height: 36px;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;

    & > input {
      flex: 1;
      outline: none;
    }

    width: 100%;

    .farm-icon {
      color: var(--farm-neutral-darken);
      display: flex;
    }
  }

  &--text {
    color: var(--farm-neutral-darken);
    gap: 8px;
  }

  &.touched-success {
    .farm-textfield {
      &--input {
        border-color: var(--farm-primary-base);

        & > input {
          color: var(--farm-primary-base);
        }
  
        .farm-icon {
          color: var(--farm-primary-base);
        }
      }
    }
  }

  &.touched-error {
    .farm-textfield {
      &--input {
        border-color: var(--farm-error-base);

        & > input {
          color: var(--farm-neutral-darken);
        }
  
        .farm-icon {
          color: var(--farm-error-base);
        }               
      }

      &--text {
        color: var(--farm-error-base);
        
      }
    }
  }

  &.touched-disabled {
    .farm-textfield {
      &--input {
        border-color: var(disabled);

        & > input {
          color: var(disabled);
        }
  
        .farm-icon {
          color: var(disabled);
        }
      }
    }
  }
}