.idcaption {
	display: flex;
	align-items: center;

	.farm-icon-box {
		margin-right: 5px;
	}
	&__body {
		.farm-typography {
			position: relative;
			padding: 2px 0;
		}

		.farm-btn,
		.farm-tooltip {
			position: absolute;
			right: -30px;
			top: -5px;
		}

		.text {
			margin-bottom: 0;
		}
	}
}
